<head>
	<title>Quizzy</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<h1 class="left"><span class="glyphicon glyphicon-ok"></span> Quizzy</h1>
		<div class="row">
			<div class="col-md-8">
				<div class="quizz">
					<div class="quizzArea well">
						<ul class="messages" style="height:300px;overflow:auto">
							{{> messages}}
						</ul>
					</div>
					{{#if currentUser}}
					{{> userInput}}
					{{/if}}
				</div>
			</div>
			<div class="col-md-2">
				{{> onlineUsers}}
				{{> loginButtons}}
			</div>
		</div>

	</div>
</body>

<template name="userInput">
	<div class="input center">
		<form id="form" action="#">
			<input id="input" placeholder="Message" class="large" name="input" />
			<input type="submit" id="submit" value="Envoyer">
		</form>
	</div>
</template>

<template name="messages">
	{{#each messages}}
		{{ >message }}
	{{/each}}
</template>

<template name="onlineUsers">
	<ul id="userslist" style="height:320px;overflow:auto">
		{{#each usersList}}
		<li>{{username}}</li>
		{{/each}}
	</ul>
	
	<p>Il y a {{usersOnline}} user(s) en ligne sur {{usersTotal}} membres</p>
</template>

<template name="message">
	<li class="message">{{formatTime created_at}} // {{username}} - {{message}}</li>
</template>